<div class="inner">
    <p class="read">ご購入ありがとうございました。
        <br>購入者情報入力画面で入力していただいたメールアドレス宛に購入完了メールを送信しました。
        <br>ご入場方法に関しましてはページ下部をご確認ください。
        <br>※購入完了メールの送信に時間がかかる事がありますのでご注意ください。</p>

    <ul class="border border-white p-3 mb-4">
        <li class="mb-3">
            <div class="mb-2">予約番号</div>
            <div>
                <strong class="red-text large-x-text mb-2">{{ data.order.confirmationNumber }}</strong>
                <div class="small-x-text">※チケットの発行等に必要な番号となりますので必ず忘れないようにしてください。</div>
            </div>
        </li>
        <li class="mb-3">
            <div class="mb-2">劇場 / スクリーン</div>
            <div>{{ getTheaterName() }} / {{ getScreenName() }}</div>
        </li>
        <li class="mb-3">
            <div class="mb-2">作品名</div>
            <div>{{ getTitle() }}</div>
        </li>
        <li class="mb-3">
            <div class="mb-2">鑑賞日時</div>
            <div>
                {{ getAppreciationDate() }} {{ getStartDate() }} - {{ getEndDate() }}
            </div>
        </li>
        <li class="mb-3">
            <div class="mb-2">座席</div>
            <div class="mb-2" *ngFor="let offer of data.order.acceptedOffers">
                {{ offer.itemOffered.reservedTicket.coaTicketInfo.seatNum }} {{ offer.itemOffered.reservedTicket.coaTicketInfo.ticketName
                }} ￥{{ offer.itemOffered.reservedTicket.coaTicketInfo.salePrice }}
            </div>
        </li>
        <li class="mb-3">
            <div class="mb-2">ご利用金額</div>
            <div>￥{{ data.order.price }}</div>
        </li>
        <li class="mb-3">
            <div class="mb-2">メールアドレス</div>
            <div>{{ data.order.customer.email }}</div>
        </li>
        <li *ngIf="user.isMember()">
            <div class="mb-2">獲得ポイント</div>
            <div>
                <strong class="red-text">{{ data.incentive }}ポイント</strong>
            </div>
        </li>
    </ul>

    <button type="button" class="small-text btn btn-primary btn-block py-3 rounded-0 mx-auto" routerLink="/ticket">チケットホルダーに戻る</button>
</div>