<app-page [touch]="touch">
    <div class="inner">
        <p class="mb-3 text-center small-text">
            購入した鑑賞作品の下記チケットのQRコードを
            <br>入場口スタッフに提示してください。
        </p>
        <div *ngIf="reservations.length > 0;">
            <div class="swiper-container" #swiper [swiper]="config" (slideChangeTransitionStart)="slideChangeTransitionStart()" (slideChangeTransitionEnd)="slideChangeTransitionEnd()">
                <div class="swiper-wrapper">
                    <div *ngFor="let reservation of reservations" class="swiper-slide">
                        <app-ticket-detail [reservation]="reservation" [device]="device" (update)="directiveRef.update()" (alert)="openAlert($event)"
                            (start)="isLoading = true" (end)="isLoading = false"></app-ticket-detail>
                    </div>
                </div>
            </div>
            <div class="pagination-wrapper">
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <app-ticket-not-found *ngIf="!isLoading && reservations.length === 0;" [isMember]="user.isMember()"></app-ticket-not-found>
    </div>
</app-page>
<app-modal [open]="alertModal" [layout]="true" (close)="alertModal = false">
    <div class="modal-ttl large-text text-center mb-3">
        <strong>エラーが発生しました</strong>
    </div>
    <p>{{ errorMessage }}</p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>
<app-information *ngIf="!user.isMember()" [isMember]="false"></app-information>