<div class="position-center inner">
    <div class="mb-4 text-center"><img src="/assets/images/ticket/no_ticket.svg" width="145" height="74"></div>
    <p class="mb-4 text-center">現在鑑賞予定の作品はございません。</p>
    <p class="text-center mb-5"><a routerLink="/about">このアプリについて</a></p>
    <button type="button" class="small-text btn btn-primary btn-block py-3 rounded-0" routerLink="/purchase/schedule">
        <app-icon iconName="purchase-white" width="15" height="15"></app-icon>チケットを購入
    </button>
</div>

