<div class="inner">
    <p class="read">ご希望の券種を選択して「次へ」ボタンを押してください。</p>

    <dl *ngIf="user.isMember() && purchase.data.pointTickets.length === 0" class="bg-white mb-3 p-3 point">
        <dt class="mb-2 text-dark">会員ポイントを利用される方</dt>
        <dd class="mb-0">
            <button type="button" class="small-text btn btn-primary btn-block py-3 rounded-0 mx-auto" routerLink="/purchase/point">
                会員ポイントを利用する
            </button>
        </dd>
    </dl>

    <ul class="bg-white mb-3 p-3 seats">
        <li *ngFor="let offer of offers" class="d-grid align-items-center border-bottom py-3">
            <div class="text-dark">{{ offer.seatNumber }}</div>
            <div>
                <button class="small-text btn btn-primary btn-block py-2 rounded-0" *ngIf="!offer.selected" type="button" (click)="ticketSelect(offer)">
                    券種を選択してください
                </button>
                <button class="small-text btn btn-primary btn-block py-2 rounded-0" *ngIf="offer.selected" type="button" (click)="ticketSelect(offer)">
                    {{ offer.ticketInfo.ticketName }} ￥{{ offer.ticketInfo.salePrice }}
                </button>
            </div>
        </li>
    </ul>

    <div class="bg-white mb-4 p-3 total">
        <div class="text-right">
            <div class="length mb-1 text-dark">購入枚数
                <strong class="text-danger large-text">{{ offers.length }}枚</strong>
            </div>
            <div class="price text-dark">合計金額
                <strong class="red-text large-text">
                    <span>{{ totalPrice }}</span>円</strong>
            </div>
        </div>
        <!-- <div class="border-bottom-dot mb-2"></div>
        <p *ngIf="(purchase.data.individualScreeningEvent?.superEvent.coaInfo.kbnJoueihousiki?.kubunCode === '002')" class="small-x-text mb-1">
            ※[４DXをご鑑賞のお客様へ]
            <br> ４DX®作品は「身長100cm未満の方は入場不可」「身長120cm未満のお子様は保護者同伴」の入場制限がありますので、ご注意くださいませ。
            <br> また、妊娠されている方、ご高齢の方、心臓・背中・腰・首などに障害のある方、特別な疾病のある方、乗り物酔いしやすい方、体調に不安のある方はご利用になれません。
            <br> 上映中のホットドリンク・アルコールはご遠慮ください。
        </p>
        <p class="small-x-text">※メンバーズカード提示による割引やその他割引券などのご利用はできません。
            <br>※車椅子席をご希望の方は、お手数ですが通常のお席をご購入の上、対象の劇場にご連絡ください。
            <br>※ムビチケ券によっては別途追加料金が発生する場合がありますのでご了承ください。
        </p> -->
    </div>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
        <app-buttons nextLabel="次へ" prevLabel="戻る" prevLink="/purchase/seat"></app-buttons>
    </form>
</div>

<app-modal [open]="ticketsModal" [layout]="false" (close)="ticketsModal = false" class="tickets-modal">
    <ul inner class="bg-white p-3 text-dark">
        <li *ngFor="let pointTicket of salesPointTickets" class="d-grid align-items-center border-bottom py-3" [class.disabled]="pointTicket.selected">
            <div>
                <div class="mb-1">
                    <strong>{{ pointTicket.ticketName }} ￥{{ pointTicket.salePrice }}</strong>
                </div>
                <p class="small-x-text mb-0">{{ pointTicket.ticketNote }}</p>
            </div>
            <div>
                <button class="small-text btn btn-primary btn-block py-2 rounded-0" type="button" (click)="selectSalseTicket(pointTicket)">選択</button>
            </div>
        </li>
        <li *ngFor="let ticket of salesTickets" class="d-grid align-items-center border-bottom py-3">
            <div>
                <div class="mb-1">
                    <strong>{{ ticket.ticketName }} ￥{{ ticket.salePrice }}</strong>
                </div>
                <p class="small-x-text mb-0">{{ ticket.ticketNote }}</p>
            </div>
            <div>
                <button class="small-text btn btn-primary btn-block py-2 rounded-0" type="button" (click)="selectSalseTicket(ticket)">選択</button>
            </div>
        </li>
    </ul>
</app-modal>

<app-modal [open]="notSelectModal" [layout]="true" (close)="notSelectModal = false">
    <div class="modal-title large-text text-center mb-3">
        <strong>券種が未選択です</strong>
    </div>
    <p class="text-center">ご希望の券種を選択して「次へ」ボタンを押してください。</p>
</app-modal>

<app-modal [open]="discountConditionsModal" [layout]="true" (close)="discountConditionsModal = false">
    <div class="modal-title large-text text-center mb-3">
        <strong>割引条件が満たされていません</strong>
    </div>
    <p class="text-center">選択した券種の中に、割引券が含まれています。
        <br> 割引券の適用条件を再度ご確認ください。
    </p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>