<div class="inner">
    <p class="read">ご希望の座席を選択して「次へ」ボタンを押してください。
        <br>選択できる座席数は最大
        <span class="seat-limit-text">{{ purchase.data.individualScreeningEvent?.coaInfo.availableNum }}</span>席までとなります。
        <br>
        <span class="sp-text">画面をタッチすると画面がズームしますので座席を選択してください。
            <br>
        </span>
        <span class="small-x-text">※車椅子席をご希望の方は、お手数ですが通常のお席をご購入の上、対象の劇場にご連絡ください。</span>
    </p>
    <div class="mb-3">
        <app-screen [inputData]="screenData" [test]="false" (select)="seatSelect($event)" (alert)="seatSelectionAlert()" (load)="loadScreen($event)">
            <app-seat-info type="{{ purchase.data.individualScreeningEvent?.superEvent.coaInfo.kbnJoueihousiki?.kubunCode }}"></app-seat-info>
        </app-screen>
    </div>

    <div class="border border-white p-3 mb-4">
        <p class="mb-2">現在、選択されているチケットは下記のとおりです。</p>
        <dl class="mb-0">
            <dt class="mb-2">劇場 / スクリーン</dt>
            <dd class="mb-3">
                {{ purchase.getTheaterName() }} / {{ purchase.getScreenName() }}
            </dd>
            <dt class="mb-2">鑑賞日時</dt>
            <dd class="mb-3">
                {{ purchase.getAppreciationDate() }} {{ purchase.getStartDate() }} - {{ purchase.getEndDate() }}
            </dd>
            <dt class="mb-2">作品名</dt>
            <dd class="mb-0">{{ purchase.getTitle() }}</dd>
        </dl>
    </div>

    <!-- <div class="section-ttl">利用規約</div>
    <p class="mb-2">利用規約に同意した上で「次へ」ボタンを押してください。</p> -->

    <form [formGroup]="seatForm" (ngSubmit)="onSubmit()">
        <!-- <div class="mb-x-large text-center">
            <input type="checkbox" formControlName="terms" id="terms">
            <label for="terms" class="agree-label">
                <strong>利用規約に同意する</strong>
            </label>
            <div *ngIf="seatForm.controls['terms'].invalid && (seatForm.controls['terms'].dirty || seatForm.controls['terms'].touched)"
                class="validation-text">利用規約に同意してください</div>
        </div> -->

        <app-buttons nextLabel="次へ" prevLabel="戻る" prevLink="/purchase/schedule"></app-buttons>
    </form>
</div>
<app-modal [open]="notSelectSeatModal" [layout]="true" (close)="notSelectSeatModal = false">
    <div class="modal-title large-text text-center mb-3">
        <strong>座席が未選択です</strong>
    </div>
    <p class="text-center">ご希望の空席を選択して「次へ」ボタンを押してください。</p>
</app-modal>

<app-modal [open]="upperLimitModal" [layout]="true" (close)="upperLimitModal = false">
    <div class="modal-title large-text text-center mb-3">
        <strong>予約座席数が上限です</strong>
    </div>
    <p class="text-center">予約座席数は最大
        <span class="seat-limit-text">{{ purchase.data.individualScreeningEvent?.coaInfo.availableNum }}</span>席までとなります。</p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>