<div class="cover" [class.active]="isOpen" (click)="close.emit()"></div>

<div class="menu" [class.active]="isOpen">
    <!-- <div class="title">{{ name }}</div> -->
    <ul>
        <li>
            <span routerLink="/" routerLinkActive="active" (click)="close.emit()">
                <i class="fas fa-home mr-2"></i>HOME画面
            </span>
        </li>
        <li>
            <span routerLink="/member/edit" (click)="close.emit()">
                <i class="fas fa-cog mr-2"></i>会員情報変更
            </span>
        </li>
        <li>
            <span routerLink="/fido/remove" (click)="close.emit()">
                <i class="fas fa-fingerprint mr-2"></i>生体認証削除
            </span>
        </li>
        <li>
            <span routerLink="/auth/logout" (click)="close.emit()">
                <i class="fas fa-sign-out-alt mr-2"></i>ログアウト
            </span>
        </li>
    </ul>
</div>