<ul class="mb-0">
    <li routerLink="/member/mypage" routerLinkActive="active">
        <div class="mb-1 ">
            <app-icon iconName="home-white" width="15" height="15"></app-icon>
        </div>
        <div class="small-x-text">TOP</div>
    </li>
    <li routerLink="/ticket" routerLinkActive="active">
        <div class="mb-1">
            <app-icon iconName="ticket-holder-white" width="15" height="15"></app-icon>
        </div>
        <div class="small-x-text">購入済み
            <br>チケットホルダー</div>
    </li>
    <li routerLink="/member/point" routerLinkActive="active">
        <div class="mb-1">
            <app-icon iconName="point-white" width="15" height="15"></app-icon>
        </div>
        <div class="small-x-text">会員ポイント</div>
    </li>
    <li routerLink="/purchase" routerLinkActive="active">
        <div class="mb-1">
            <app-icon iconName="purchase-white" width="15" height="15"></app-icon>
        </div>
        <div class="small-x-text">チケット購入</div>
    </li>
    
</ul>