<app-page>
    <div class="inner mx-auto">
        <div class="logo text-center mb-5">
            <img src="/assets/images/common/logo_text.svg">
        </div>
        <p class="read text-center mb-5">
            アプリの始め方を選択してください。
        </p>

        <div class="mb-xx-large">
            <button type="button" class="small-text btn btn-primary btn-block py-3 rounded-0 mx-auto" routerLink="/register">
                新規会員（年会費500円）
            </button>
        </div>
        <div class="buttons">
            <p class="mb-3 text-center">
                <u class="text-primary" (click)="signIn()">ログイン</u>
            </p>
        </div>
    </div>
</app-page>
<app-loading [show]="isLoading"></app-loading>