<div class="inner position-center">
    <div class="card text-dark">
        <div class="card-body">
            <h5 class="text-center card-title">購入完了</h5>
            <p class="card-text">ご購入ありがとうございました。</p>
            <div class="mb-4">
                <div class="mb-2">
                    <i class="fas fa-shopping-cart mr-2"></i>商品一覧</div>
                <ul>
                    <li class="d-flex justify-content-between align-items-center p-3 border-bottom">
                        <div class="text-left">ポップコーン</div>
                        <div class="text-right">500円</div>
                    </li>
                    <li class="d-flex justify-content-between align-items-center p-3 border-bottom">
                        <div class="text-left">ドリンク</div>
                        <div class="text-right">300円</div>
                    </li>
                </ul>
                <div class="text-right large-text">合計金額 800円</div>
            </div>
            <button type="button" class="btn btn-outline-success btn-block py-3" routerLink="/qrcode">QR読み取りへ戻る</button>
        </div>
    </div>
</div>
